[submodule "lib/ccip-starter-kit-foundry"]
	path = lib/ccip-starter-kit-foundry
	url = https://github.com/smartcontractkit/ccip-starter-kit-foundry
[submodule "lib/safe-contracts"]
	path = lib/safe-contracts
	url = https://github.com/safe-global/safe-contracts
	branch = main
[submodule "lib/safe-contracts2"]
	path = lib/safe-contracts2
	url = https://github.com/safe-global/safe-contracts
